## DATA CLEANING OUR SCRAPED DATA

In [2]:
# import various libraries
import pandas as pd

### Working on the Mens Categories

In [3]:
men_acces = pd.read_csv("mensaccessories.csv")
men_acces.head()

,description,original_price,discount,reviews,ratings,sale,soldout,product_price
0,Kiondo Everyday Multicolored Beaded Belt - Brown,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,500.00"
1,Kiondo Everyday Multicolored Beaded Belt - Brown,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,500.00"
2,Kiondo Everyday Beaded Belt - Brown,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,500.00"
3,Mandevu Beard Care Set,NaN,NaN,No reviews,0.0,NaN,Available,"KSh6,000.00"
4,King's Collection Men's Boxers (2 Pack) - Blac...,"KSh1,250.00",15.0,No reviews,0.0,NaN,Sold out,"KSh1,250.00"

In [4]:
category_values = ["mens accessories"] * len(men_acces)
men_acces = men_acces.assign(category=category_values)

In [5]:
def add_column (data,columnname ):
    df = pd.read_csv(data)
    cat_values = [columnname] * len(df)
    df = df .assign(category = cat_values)
    
    return df

# calling the function
men_bottom = add_column ("mensbottoms.csv","mens bottoms")
men_bottom.head()

,description,original_price,discount,reviews,ratings,sale,soldout,product_price,category
0,Zetu Men's Surf Line Swim Shorts - Blue,"KSh2,550.00",30,No reviews,0.0,Sale,Available,"KSh2,550.00",mens bottoms
1,Zetu Men's 'Make Yourself...' Shorts - Grey,"KSh1,800.00",30,No reviews,0.0,Sale,Available,"KSh1,800.00",mens bottoms
2,Zetu Men's Diagonal Line Textured Shorts - White,"KSh1,800.00",30,No reviews,0.0,Sale,Available,"KSh1,800.00",mens bottoms
3,Zetu Men's Diagonal Line Textured Shorts - Grey,"KSh1,800.00",30,No reviews,0.0,Sale,Available,"KSh1,800.00",mens bottoms
4,Zetu Men's Square Textured Shorts - Grey,"KSh1,800.00",30,1 review,5.0,Sale,Available,"KSh1,800.00",mens bottoms

In [6]:
# Adding mens shirt to the  category column
men_shirt = add_column("menshirts&tshirts.csv","men shirts")
 # Adding  footwear to the category column
men_footwear = add_column('mensfootwear.csv', "mens footwear")
# Adding suits to the category column
men_suit = add_column("mensuits.csv", "mens suits")
# Adding outwear  to the category column
men_outwear = add_column("mensouterwear.csv", "mens suits")

In [7]:
# concating the dfs into one main men dataframe
dfs = [men_outwear,men_suit,men_footwear,men_shirt,men_acces,men_bottom]

df_men = pd.concat(dfs)

df_men

,description,original_price,discount,reviews,ratings,sale,soldout,product_price,category
0,King's Collection Unisex Premium Hoodie - Prus...,"KSh1,750.00",15.0,1 review,5.0,NaN,Sold out,"KSh1,750.00",mens suits
1,Ancestral House Ankara Mix Jacket - Black,NaN,NaN,No reviews,0.0,NaN,Available,"KSh12,672.00",mens suits
2,King's Collection Unisex Premium Hoodie - Dark...,"KSh1,750.00",15.0,No reviews,0.0,Sale,Available,"KSh1,750.00",mens suits
3,Zola SpringField Sweater - Grey,"KSh9,500.00",15.0,No reviews,0.0,Sale,Available,"KSh9,500.00",mens suits
4,Phase Brands Galaxy Hoodie - White,NaN,NaN,No reviews,0.0,NaN,Available,"KSh3,200.00",mens suits
...,...,...,...,...,...,...,...,...,...
36,King's Collection Unisex Straight Leg Joggers ...,"KSh1,650.00",15,No reviews,0.0,Sale,Available,"KSh1,650.00",mens bottoms
37,King's Collection Unisex Straight Leg Joggers ...,"KSh1,650.00",15,No reviews,0.0,Sale,Available,"KSh1,650.00",mens bottoms
38,King's Collection Unisex Cuffed Joggers - Black,"KSh1,650.00",15,No reviews,0.0,Sale,Available,"KSh1,650.00",mens bottoms
39,King's Collection Unisex Cuffed Joggers - Navy...,"KSh1,650.00",15,No reviews,0.0,Sale,Available,"KSh1,650.00",mens bottoms
40,King's Collection Unisex Cuffed Joggers - Dark...,"KSh1,650.00",15,1 review,4.0,Sale,Available,"KSh1,650.00",mens bottoms

### Working on the women df

In [8]:
# Adding womens bottoms to the category
wbottom = add_column("womenbottom.csv", "women bottom")
# Adding womens dress to the category
wdress = add_column("womendress.csv", "women dress")
# Adding womens footwear  to the category
wfootwear = add_column("womenfootwear.csv", "women footwear")
# Adding  womens outwear to the category column
woutwear = add_column("womenouterwear.csv", "women outwear")
# Adding womens accesories to the category column
waccess = add_column("womensaccesories.csv", "womens accessories")
# Adding  womens innerwear to the  category column
winner = add_column("womensinnerwears.csv","womens innerwears")
# Adding skirts to the category column
skirts = add_column("womenskirts.csv", "women skirts")
# Adding makeup to the category column
make_up =add_column("womensmakeup.csv", "womens makeup")
# Adding womens top to the category column
wtop = add_column("womentop.csv", "women top")

# Concating the dfs into one women dataframe
frames = [wbottom,wdress,wfootwear,woutwear,waccess,winner,skirts,make_up,wtop]
 
df_women = pd.concat(frames)
df_women

,description,original_price,discount,reviews,ratings,sale,soldout,product_price,category
0,PlainChic Box Pleat Palazzo Pants - Pink,NaN,NaN,2 reviews,3.00,NaN,Available,"KSh3,200.00",women bottom
1,PlainChic Box Pleat Palazzo Pants - Brown,NaN,NaN,1 review,1.00,NaN,Available,"KSh3,200.00",women bottom
2,PlainChic Culosuit - Black,NaN,NaN,No reviews,0.00,NaN,Available,"KSh3,950.00",women bottom
3,Salok Havilah Masha Jumpsuits - Green,"KSh4,750.00",20.0,3 reviews,3.67,Sale,Available,"KSh4,750.00",women bottom
4,Vivo Basic Straight Leg Pants - Burgundy,NaN,NaN,3 reviews,5.00,NaN,Sold out,"KSh3,550.00",women bottom
...,...,...,...,...,...,...,...,...,...
468,Urban Zen Cut Out Side Tie Maxi Top - Dark Red,"KSh1,950.00",50.0,No reviews,0.00,Sale,Available,"KSh1,950.00",women top
469,Urban Zen One Shoulder Long Sleeve Bodysuit - ...,"KSh1,250.00",50.0,No reviews,0.00,Sale,Available,"KSh1,250.00",women top
470,Purple Earth J Crew One-Shoulder Ruffle Eyelet...,NaN,NaN,No reviews,0.00,NaN,Available,"KSh3,950.00",women top
471,ForKeeps Satin Paisley Print Bodysuit - Taupe ...,NaN,NaN,No reviews,0.00,NaN,Available,"KSh2,500.00",women top
472,ForKeeps Knot Bodysuit - Buttermilk,NaN,NaN,No reviews,0.00,NaN,Available,"KSh1,200.00",women top

###  Unisex

In [9]:
# Adding unisex items to the category
cleaners = add_column("cleaners and soap.csv", "cleanersandsoaps")
deos = add_column("deosandlotin.csv","deosandlotion")
haircare = add_column("haircare.csv","haircare")
moist = add_column("moisturizers and cream.csv", "moisturizers and cream")
toners = add_column("toners and treatments.csv", " toners and treatments")
unisex = add_column("unisex fragrance.csv", "unisex fragrance")


frames =[cleaners,deos,haircare,moist,toners,unisex]

df_unisex = pd.concat(frames)
df_unisex.reset_index()

,index,description,original_price,discount,reviews,ratings,sale,soldout,product_price,category
0,0,Phase Brands Baylis & Harding Black Pepper & G...,NaN,NaN,No reviews,0.0,NaN,Available,"KSh3,200.00",cleanersandsoaps
1,1,Phase Brands Baylis & Harding Royale Garden,NaN,NaN,No reviews,0.0,NaN,Available,"KSh5,500.00",cleanersandsoaps
2,2,Phase Brands Baylis & Harding Royale Garden,NaN,NaN,No reviews,0.0,NaN,Available,"KSh5,100.00",cleanersandsoaps
3,3,Phase Brands Baylis & Harding Boudoire Rose,NaN,NaN,No reviews,0.0,NaN,Available,"KSh5,000.00",cleanersandsoaps
4,4,Phase Brands Baylis & Harding Signature Collec...,NaN,NaN,No reviews,0.0,NaN,Available,"KSh5,200.00",cleanersandsoaps
...,...,...,...,...,...,...,...,...,...,...
152,6,Mandevu Beard Balm,"KSh1,400.00",20.0,1 review,5.0,Sale,Available,"KSh1,400.00",toners and treatments
153,0,Ythera Frangipani Fine Fragrance Mist,NaN,NaN,1 review,5.0,NaN,Available,KSh750.00,unisex fragrance
154,1,Ythera Malaika Fine Fragrance Mist,NaN,NaN,No reviews,0.0,NaN,Sold out,KSh750.00,unisex fragrance
155,2,Kipusa Hello Aura Sweet Vanilla Cream Scented ...,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,000.00",unisex fragrance
156,3,Kipusa Hello Aura Orchard Scented Candle,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,000.00",unisex fragrance

### ***Merging the dataframes to make one main dataframe***

In [10]:
#Merging the three dataframes
dfs = [df_men,df_women,df_unisex]

df_main = pd.concat(dfs)
df_main

,description,original_price,discount,reviews,ratings,sale,soldout,product_price,category
0,King's Collection Unisex Premium Hoodie - Prus...,"KSh1,750.00",15.0,1 review,5.0,NaN,Sold out,"KSh1,750.00",mens suits
1,Ancestral House Ankara Mix Jacket - Black,NaN,NaN,No reviews,0.0,NaN,Available,"KSh12,672.00",mens suits
2,King's Collection Unisex Premium Hoodie - Dark...,"KSh1,750.00",15.0,No reviews,0.0,Sale,Available,"KSh1,750.00",mens suits
3,Zola SpringField Sweater - Grey,"KSh9,500.00",15.0,No reviews,0.0,Sale,Available,"KSh9,500.00",mens suits
4,Phase Brands Galaxy Hoodie - White,NaN,NaN,No reviews,0.0,NaN,Available,"KSh3,200.00",mens suits
...,...,...,...,...,...,...,...,...,...
6,Mandevu Beard Balm,"KSh1,400.00",20.0,1 review,5.0,Sale,Available,"KSh1,400.00",toners and treatments
0,Ythera Frangipani Fine Fragrance Mist,NaN,NaN,1 review,5.0,NaN,Available,KSh750.00,unisex fragrance
1,Ythera Malaika Fine Fragrance Mist,NaN,NaN,No reviews,0.0,NaN,Sold out,KSh750.00,unisex fragrance
2,Kipusa Hello Aura Sweet Vanilla Cream Scented ...,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,000.00",unisex fragrance
3,Kipusa Hello Aura Orchard Scented Candle,NaN,NaN,No reviews,0.0,NaN,Available,"KSh4,000.00",unisex fragrance

#### **Data Cleaning**

In [17]:
## Checking for missing values
def missing (df):
    """A function to check for missing values and their percentage of the data set"""
    print("Missing values per column")
    #check for missing values per column
    missing =df.isna().sum()
    print(missing)
    # check for percentage of missing values
    
    print("Percentage of missing values")
    percent_mis =round((missing/len(df)) * 100,1)
    print(percent_mis)
    
    

# Calling the function
missing(df_main)

Missing values per column
description          0
original_price    1734
discount          1734
reviews              0
ratings              0
sale              1820
soldout              0
product_price        0
category             0
dtype: int64
Percentage of missing values
description        0.0
original_price    46.1
discount          46.1
reviews            0.0
ratings            0.0
sale              48.4
soldout            0.0
product_price      0.0
category           0.0
dtype: float64

In [ ]:
# dropping the original price since